*.id_rsa
*.pub
*.pem
second-head
second-head.pub
id_ed25519
id_ed25519.pub
id_rsa
id_rsa.pub
*.pem
*.key
.DS_Store

#terr
.env
.env.*
*.vars
*.log
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.rc
terraform.rc
.terraform/


